<h3><strong><u><center>Edit User</center></u></strong></h3>
<center>
<form action ="/update_user/<%= @coolpeople.id %>">
  <input type="text" name="name" placeholder="Name" value="<%= @coolpeople.name %>">
  <br>
  <br>
  <input type="text" name="date" placeholder="Lifetime (year-year)" value="<%= @coolpeople.date %>">
  <br>
  <br>
  <input type="text" name="location" placeholder="Location" value="<%= @coolpeople.location %>">
  <br>
  <br>
  <input type="text" name="imgurl" placeholder="Image URL" value="<%= @coolpeople.imgurl %>">
  <br>
  <br>
  <input class="swagpercentform" type="text" name="barpercent" placeholder="Swag Percentage (with % sign)" value="<%= @coolpeople.barpercent %>">
  <br>
  <br>
  <textarea class="descform" name="desc" placeholder="Description" cols="80" rows="8" maxlength="802"> <%= @coolpeople.desc %> </textarea>
  <br>
  Max Characters: 802
  <br>
  <br>
  <input type="submit">
</form>
</center>