<center><div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Congratulations!</strong> You have successfully edited this page.
  </div></center>


<div class="container">
  <div class="column">
    <div class="row">
    
<div>
  <p style="float: left;"><img src=<%= @coolpeople.imgurl %> height="200px" width=auto border="1px"></p>
  <h3><center><strong><%= @coolpeople.name %></strong><br><span class="member"> <%= @coolpeople.date %></span></center></h3>
  <p><%= @coolpeople.desc %> </p>
    
</div>
       <div class="col-md-2">
         <h4>Location: <span class="location"><%= @coolpeople.location %></span></h4>
          <h4>Swag:</h4> </div>
       <div class="col-md-10"> 
      <div class="col-md-2">     
</div>   
  <div class="progress">
  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: <%= @coolpeople.barpercent %>">
    <%= @coolpeople.barpercent %>
  </div>
  </div>
  </div>
</div>
</div>
 
<center>
<div class="bs-example">
  <div class="btn-group">
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/userpage/<%= @coolpeople.id %>/edit">Edit</a></li>
    </ul>
  </div><!-- /btn-group -->
</div>
</center>  